fastapi
uvicorn
torch
torchvision
torchxrayvision
pillow
numpy
pandas
sentence-transformers
pymongo
sqlalchemy
psycopg2-binary
google-generativeai
langchain
langchain-community
langchain-openai
python-dotenv
certifi
